SmartDeviceProject1/SmartDeviceProject1/Web References/test/VehcileParkingHistory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertVehcileParkingHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParkingBay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserModified" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertVehcileParkingHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertVehcileParkingHistoryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertVehcileParkingHistorySoapIn">
    <wsdl:part name="parameters" element="tns:InsertVehcileParkingHistory" />
  </wsdl:message>
  <wsdl:message name="InsertVehcileParkingHistorySoapOut">
    <wsdl:part name="parameters" element="tns:InsertVehcileParkingHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="VehcileParkingHistorySoap">
    <wsdl:operation name="InsertVehcileParkingHistory">
      <wsdl:input message="tns:InsertVehcileParkingHistorySoapIn" />
      <wsdl:output message="tns:InsertVehcileParkingHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VehcileParkingHistorySoap" type="tns:VehcileParkingHistorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertVehcileParkingHistory">
      <soap:operation soapAction="http://tempuri.org/InsertVehcileParkingHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VehcileParkingHistorySoap12" type="tns:VehcileParkingHistorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertVehcileParkingHistory">
      <soap12:operation soapAction="http://tempuri.org/InsertVehcileParkingHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehcileParkingHistory">
    <wsdl:port name="VehcileParkingHistorySoap" binding="tns:VehcileParkingHistorySoap">
      <soap:address location="http://localhost:33197/VehcileParkingHistory.asmx" />
    </wsdl:port>
    <wsdl:port name="VehcileParkingHistorySoap12" binding="tns:VehcileParkingHistorySoap12">
      <soap12:address location="http://localhost:33197/VehcileParkingHistory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>